In [ ]:
# 라이브러리 불러오기
import pandas as pd
import numpy as np

In [ ]:
# 파일 업로드
from google.colab import files
files.upload()
temperature = pd.read_csv('2000-2023 기온.csv' , encoding='cp949')
precipitation = pd.read_csv('2000-2023 강수량.csv', encoding='cp949')
wind_speed = pd.read_csv('2000-2023 풍속.csv', encoding='cp949')
humidity = pd.read_csv('2000-2023 습도.csv', encoding='cp949')

Saving 2000-2023 강수량.csv to 2000-2023 강수량.csv
Saving 2000-2023 기온.csv to 2000-2023 기온.csv
Saving 2000-2023 습도.csv to 2000-2023 습도.csv
Saving 2000-2023 풍속.csv to 2000-2023 풍속.csv

# 기온

In [ ]:
# 데이터 잘 불러와졌는지 확인
temperature.head()

,\t\t지점번호,지점명,일시,평균기온(℃),최고기온(℃),\t최고기온시각,최저기온(℃),최저기온시각일교차,Unnamed: 8
0,\t\t108,서울,2000.1.1,5.5,9.9,14:41,1.8,6:15,8.1
1,\t\t108,서울,2000.1.2,4.2,6.9,0:27,-0.9,23:59,7.8
2,\t\t108,서울,2000.1.3,-2.2,0.1,14:25,-4.6,8:29,4.7
3,\t\t108,서울,2000.1.4,0.3,4.3,15:10,-4.3,5:35,8.6
4,\t\t108,서울,2000.1.5,2.8,4.6,23:11,0.1,7:36,4.5

In [ ]:
temperature.shape

(8504, 9)

In [ ]:
# 결측치 확인
temperature.isna().sum()

\t\t지점번호       0
지점명            8
일시             8
평균기온(℃)        8
최고기온(℃)        9
\t최고기온시각       9
최저기온(℃)        9
최저기온시각일교차      9
Unnamed: 8    10
dtype: int64

In [ ]:
temperature.isna().sum().sum()

70

In [ ]:
# 중복값 확인
temperature.duplicated().sum()

6

In [ ]:
# 데이터 타입 확인
temperature.dtypes

\t\t지점번호       object
지점명            object
일시             object
평균기온(℃)       float64
최고기온(℃)       float64
\t최고기온시각       object
최저기온(℃)       float64
최저기온시각일교차      object
Unnamed: 8    float64
dtype: object

In [ ]:
# 필요없는 열 제거
dels = ['\t\t지점번호', '지점명','\t최고기온시각','Unnamed: 8','최저기온시각일교차']
temperature.drop(dels, axis=1, inplace=True)

# 열 이름 변경
temperature.columns = ['date','average_temperature','highest_temperature','lowest_temperature']

# 비어있는 자료 제거
temperature.dropna(axis = 0, inplace=True)

# 'date'열 datetime으로 타입 변경
temperature['date'] = pd.to_datetime(temperature['date'])

# 강수량

In [ ]:
# 데이터 잘 불러와졌는지 확인
precipitation.head()

  \t지점번호 지점명        일시  강수량(mm)  1시간최다강수량(mm) 1시간최다강수량시각
0  \t108  서울  2000.1.1      NaN           NaN        NaN
1  \t108  서울  2000.1.2      6.0           NaN        NaN
2  \t108  서울  2000.1.3      NaN           NaN        NaN
3  \t108  서울  2000.1.4      NaN           NaN        NaN
4  \t108  서울  2000.1.5     18.4           NaN        NaN

In [ ]:
precipitation.shape

(8502, 6)

In [ ]:
# 결측치 확인
precipitation.isna().sum()

\t지점번호             0
지점명                6
일시                 6
강수량(mm)         5205
1시간최다강수량(mm)    6408
1시간최다강수량시각      6966
dtype: int64

In [ ]:
precipitation.isna().sum().sum()

18591

In [ ]:
# 중복값 확인
precipitation.duplicated().sum()

4

In [ ]:
# 데이터 타입 확인
precipitation.dtypes

\t지점번호           object
지점명              object
일시               object
강수량(mm)         float64
1시간최다강수량(mm)    float64
1시간최다강수량시각       object
dtype: object

In [ ]:
# 필요없는 열 제거
dels = ['\t지점번호', '지점명','1시간최다강수량(mm)','1시간최다강수량시각']
precipitation.drop(dels, axis=1, inplace=True)

# 열 이름 변경
precipitation.columns = ['date','precipitation']

# 강수량의 결측치 -> 비 안온날 -> 0으로 채워줌
precipitation['precipitation'].fillna(0, inplace=True)

# 비어있는 자료 제거
precipitation.dropna(axis=0, inplace=True)

# 'date'열 datetime으로 타입 변경
precipitation['date'] = pd.to_datetime(precipitation['date'])

# 잘 정리 되었는지 확인
precipitation

           date  precipitation
0    2000-01-01            0.0
1    2000-01-02            6.0
2    2000-01-03            0.0
3    2000-01-04            0.0
4    2000-01-05           18.4
...         ...            ...
8491 2023-04-01            0.0
8492 2023-04-02            0.0
8493 2023-04-03            0.0
8494 2023-04-04            6.9
8495 2023-04-05           50.3

[8496 rows x 2 columns]

# 풍속

In [ ]:
# 데이터 잘 불러와졌는지 확인
wind_speed.head()

,\t\t지점번호,지점명,일시,평균풍속(m/s),최대풍속(m/s),최대풍속풍향(deg),\t최대풍속시각,최대순간풍속(m/s),최대순간풍속풍향(deg),\t최대순간풍속시각
0,\t\t108,서울,2000.1.1,2.3,4.0,50.0,13:20,7.4,50.0,14:04
1,\t\t108,서울,2000.1.2,3.6,7.6,230.0,9:30,11.8,250.0,13:51
2,\t\t108,서울,2000.1.3,2.7,5.9,270.0,2:10,8.1,290.0,2:09
3,\t\t108,서울,2000.1.4,1.7,3.0,70.0,10:30,4.5,50.0,10:26
4,\t\t108,서울,2000.1.5,3.2,5.2,70.0,18:50,9.1,70.0,18:49

In [ ]:
wind_speed.shape

(8500, 10)

In [ ]:
# 결측치 확인
wind_speed.isna().sum()

\t\t지점번호         0
지점명              4
일시               4
평균풍속(m/s)        7
최대풍속(m/s)        6
최대풍속풍향(deg)      6
\t최대풍속시각         6
최대순간풍속(m/s)      6
최대순간풍속풍향(deg)    6
\t최대순간풍속시각       6
dtype: int64

In [ ]:
wind_speed.isna().sum().sum()

51

In [ ]:
# 중복값 확인
wind_speed.duplicated().sum()

2

In [ ]:
# 데이터 타입 확인
wind_speed.dtypes

\t\t지점번호          object
지점명               object
일시                object
평균풍속(m/s)        float64
최대풍속(m/s)        float64
최대풍속풍향(deg)      float64
\t최대풍속시각          object
최대순간풍속(m/s)      float64
최대순간풍속풍향(deg)    float64
\t최대순간풍속시각        object
dtype: object

In [ ]:
# 필요없는 열 제거
dels = ['\t\t지점번호', '지점명', '최대풍속풍향(deg)','\t최대풍속시각', '최대순간풍속(m/s)', '최대순간풍속풍향(deg)', '\t최대순간풍속시각']
wind_speed.drop(dels, axis=1, inplace=True)

# 열 이름 변경
wind_speed.columns = ['date','average_wind_speed','max_wind_speed']

# 비어있는 자료 제거
wind_speed.dropna(axis=0, inplace=True)

# 'date'열 datetime으로 타입 변경
wind_speed['date'] = pd.to_datetime(wind_speed['date'])

# 잘 정리 되었는지 확인
wind_speed

           date  average_wind_speed  max_wind_speed
0    2000-01-01                 2.3             4.0
1    2000-01-02                 3.6             7.6
2    2000-01-03                 2.7             5.9
3    2000-01-04                 1.7             3.0
4    2000-01-05                 3.2             5.2
...         ...                 ...             ...
8491 2023-04-01                 1.8             4.5
8492 2023-04-02                 2.4             5.9
8493 2023-04-03                 2.3             4.3
8494 2023-04-04                 2.6             6.1
8495 2023-04-05                 3.4             5.8

[8493 rows x 3 columns]

# 습도

In [ ]:
# 데이터 잘 불러와졌는지 확인
humidity.head()

  \t\t지점번호 지점명        일시  평균습도(%rh)  최저습도(%rh)
0  \t\t108  서울  2000.1.1       63.5       46.0
1  \t\t108  서울  2000.1.2       74.3       57.0
2  \t\t108  서울  2000.1.3       54.1       35.0
3  \t\t108  서울  2000.1.4       48.6       30.0
4  \t\t108  서울  2000.1.5       83.6       44.0

In [ ]:
humidity.shape

(8499, 5)

In [ ]:
# 결측치 확인
humidity.isna().sum()

\t\t지점번호     0
지점명          3
일시           3
평균습도(%rh)    3
최저습도(%rh)    4
dtype: int64

In [ ]:
humidity.isna().sum().sum()

13

In [ ]:
# 중복값 확인
humidity.duplicated().sum()

1

In [ ]:
# 데이터 타입 확인
humidity.dtypes

\t\t지점번호      object
지점명           object
일시            object
평균습도(%rh)    float64
최저습도(%rh)    float64
dtype: object

In [ ]:
# 필요없는 열 제거
dels = ['\t\t지점번호', '지점명']
humidity.drop(dels, axis=1, inplace=True)

# 열 이름 변경
humidity.columns = ['date','average_humidity','lowest_humidity']

# 비어있는 자료 제거
humidity.dropna(axis=0, inplace=True)

# 'date'열 datetime으로 타입 변경
humidity['date'] = pd.to_datetime(humidity['date'])

# 잘 정리 되었는지 확인
humidity

           date  average_humidity  lowest_humidity
0    2000-01-01              63.5             46.0
1    2000-01-02              74.3             57.0
2    2000-01-03              54.1             35.0
3    2000-01-04              48.6             30.0
4    2000-01-05              83.6             44.0
...         ...               ...              ...
8491 2023-04-01              40.4             19.0
8492 2023-04-02              29.6             16.0
8493 2023-04-03              29.4             16.0
8494 2023-04-04              40.4             16.0
8495 2023-04-05              97.8             90.0

[8495 rows x 3 columns]

# 기상 데이터

In [ ]:
# 두개씩 합친 후 하나로 만들기
data1 = pd.merge(temperature, precipitation, on = 'date')
data2 = pd.merge(wind_speed, humidity, on = 'date')
weather = pd.merge(data1, data2, on = 'date')

# 확인
weather

,date,average_temperature,highest_temperature,lowest_temperature,precipitation,average_wind_speed,max_wind_speed,average_humidity,lowest_humidity
0,2000-01-01,5.5,9.9,1.8,0.0,2.3,4.0,63.5,46.0
1,2000-01-02,4.2,6.9,-0.9,6.0,3.6,7.6,74.3,57.0
2,2000-01-03,-2.2,0.1,-4.6,0.0,2.7,5.9,54.1,35.0
3,2000-01-04,0.3,4.3,-4.3,0.0,1.7,3.0,48.6,30.0
4,2000-01-05,2.8,4.6,0.1,18.4,3.2,5.2,83.6,44.0
...,...,...,...,...,...,...,...,...,...
8486,2023-04-01,17.5,25.6,9.4,0.0,1.8,4.5,40.4,19.0
8487,2023-04-02,18.8,25.2,11.9,0.0,2.4,5.9,29.6,16.0
8488,2023-04-03,19.0,25.9,11.3,0.0,2.3,4.3,29.4,16.0
8489,2023-04-04,17.6,21.7,12.7,6.9,2.6,6.1,40.4,16.0
8490,2023-04-05,11.9,14.9,8.7,50.3,3.4,5.8,97.8,90.0

In [ ]:
# 정리한 데이터 저장
#weather.to_csv('weather.csv', index=False)